* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pending Requests Notification */
#pendingRequestsList {
  list-style: none;
  padding: 0;
}

#pendingRequestsList li {
  background-color: #ffc107;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

#pendingRequestsList li button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#pendingRequestsList li button:hover {
  background-color: #c82333;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 600px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 18px;
  color: #555;
  text-align: center;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

button {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  background-color: #b4b4b4;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.tab button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 75%;
  transition: background-color 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 5px 0;
  border-radius: 5px;
  margin-top: 10px;
}

.navbar a {
  flex: 1;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #555;
}

.navbar a.active {
  background-color: #1e7e34;
}

.fa {
  margin-right: 8px;
}