 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Leaderboard Styles */
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
    width: 600px;
    min-height: 80vh;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.filter-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-options button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-options button:hover {
    background-color: #218838;
}

/* Leaderboard table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5; /* Highlight row on hover */
}

/* Bottom Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 10px;
}

.navbar a {
    flex: 1;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a.active {
    background-color: #1e7e34; /* Active link color */
}

.fa {
    margin-right: 8px;
}